*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--dark);
  overflow: hidden;
}

:root{
  --primary: #8a2be2;
  --dark: #0c0c0c;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgcircle1{
  width: 600px;
  height: 600px;
  background-color: var(--primary);
  filter: blur(250px);
  transform: translateX(-50%) translateY(-50%);    
  position: absolute;
  top: 0;
}


.bgcircle2{
  width: 600px;
  height: 600px;
  background-color: var(--primary);    
  filter: blur(250px);
  transform: translateX(-50%) translateY(-50%);    
  position: absolute;
  top: 100vh;
  left: 100vw;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.profile h1{
  font-weight: 500;
  font-size: 20px;
  color: #fff;  
}


.profile h2{
  font-weight: 500;
  font-size: 18px;
  color: #c5c5c5;
  margin-top: -20px;
}

.profile hr{
  width: 50%;
  height: 5px;
  background-color: var(--primary);
  border: 0px;
  border-radius: 5px;
}

.piccircle{
  width: 150px;
  height: 150px;
  background-color: var(--primary);
  background-image: url(https://imgur.com/ci295gT.png);   
  background-size: cover;
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 0 0 5em #892be279;
}

@media only screen and (max-width: 768px){
  .bgcircle1,
  .bgcircle2{
      width: 300px;
      height: 300px;
      filter: blur(150px);
  } 
}